#mensaje1{
    background: blanchedalmond;
    height: 60px;
}
#mensaje2{
    background: center;
    background: khaki;
    height: 60px;
}
#mensaje3{
    background: rgb(185, 224, 241); 
    height: 60px;
}