   #h1{
    position: absolute;
    font-size: 60px;
    color: cadetblue;
    flex-flow: nowrap;
    margin-left: 372px;;
  }
  #resultado{
    width: 514px;
    color: black;
    height: 70px;
    margin-left: 15px;
    border-radius: 21px;
    color: -internal-light-dark(black, white);
    font-size: 30px;
    text-align: right;
  }
  .boton {
    font-weight: 550;
    color: white;
    background-color: #0e4648;
    margin: 20px;
    font-size: 55px;
    text-align: center;
    width: 98px;
    float: left;
    border-radius: 21px;
  }
  #contenedor{
    width: 553px;
    height: 479px;
    background: #00bcd4;
    margin: 0.5cm;
    padding: 0.5cm;
    border-radius: 21px;
    position: absolute;
    margin-left: 324px;
    margin-top: 135px;
  }       